---
---

@import "{{ site.theme }}";
html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 80%;
    height: 100%;
    float: left;
    border: thin solid red;
    box-sizing: border-box;
}
  

nav {
    width: 20%;
    height: 100%;
    float: left;
    border: thin solid green;
    box-sizing: border-box;    
}
